* {
  scroll-behavior: smooth;
}

.app {
  background-color: #586977;
  color: white;
}
.container {
  padding-top: 130px;
  padding-bottom: 70px;
}

@media (max-width: 700px) {
  .container {
    padding-top: 70px;
  }
}
