* {
  scroll-behavior: smooth;
}
.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.app {
  background-color: #586977;
  color: white;
}
.container {
  padding-top: 130px;
  padding-bottom: 70px;
}

.card {
  cursor: pointer;
  border-radius: 10px;
}

.card-check {
  background-color: white;
  color: black;
}

.card:hover {
  background-color: white;
  color: black;
}

.character-details-container {
  display: flex;
  flex-direction: row;
}

@media (max-width: 600px) {
  .character-details-container {
    display: flex;
    flex-direction: column-reverse;
  }
}
